# -----------------------------------------------------
# |         Plot System Terra - by Alps BTE
# -----------------------------------------------------
# | [Github Repo] https://github.com/AlpsBTE/Plot-System-Terra
# | [Config Documentation] https://github.com/AlpsBTE/Plot-System-Terra/wiki
# | [Contacts - Discord] R3tuxn#7169, Coppertine#1718
# -----------------------------------------------------

# Keep updated about newer versions
check-for-updates: true

# Enables special dev tools and features for development
# NOTE: Do not change if you do not know what you are doing
dev-mode: false


# -----------------------------------------------------
# | Supported database: MariaDB
# -----------------------------------------------------
database:
  url: jdbc:mariadb://adress:3306/
  dbname: plotsystem
  username: plotsystem
  password: minecraft


# -----------------------------------------------------
# | Plot Pasting
# -----------------------------------------------------

# The world name of the terra server in which the schematic should be pasted
world-name: world

# Interval in which completed plots that have not yet been placed are checked
# [interval] -> in seconds; default: 300 seconds (every 5 minutes)
pasting-interval: 300

# Send a server info message to all players informing them how many plots have been placed
broadcast-info: true


# -----------------------------------------------------
# | Formatting: Info/Error message outputs
# -----------------------------------------------------
message-prefix: §7§l>>
info-colour: §a
error-colour: §c


# NOTE: Do not change
config-version: 1.1